header
{
  background: #F8F8F8;
  box-shadow: 0 2px 2px -2px #000000;
  margin-bottom: 4em;
  padding: 1em;
  width: 100%;
     
}

#buscar-control
{

  margin: 10px 0;
}
#coincidencias
{
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
  display: none;
  position: absolute;
  right: 48px;
  top: 40px;
  width: 76%;
  z-index: 5; 
}
#coincidencias ul 
{
  font-size: 14px;
}
#coincidencias ul li:hover
{
  color: blue;
  cursor: pointer;
}
#login
{
  background: white;
  display: none;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
  padding: 1em;
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 5;

}
#shopping_cart
{
  margin: 3px 0 0 0;
}
#txtBusqueda
{
  height: 40px;
}
#userPhoto
{
 
  position:absolute; 
  right: 10px; 
  top: -5px;
  
}
#userPhoto img
{
  border-radius: 50%;
  height:50px;
  width:50px;
}
.dropdown button
{
  height: 40px;
}
.dropdown
{
  margin-left: 1em;
}

div.submenu
{
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  display: none;
  margin-left: 10px;
  padding: 0px 0 5px;
  position: absolute;
  right: 5px;
  top: 45px;
  width: 135px;
  z-index: 10;
}

.dropdown-user  li a {
   
  color: #555555;
  display: block;
  font-family: arial;
  font-weight: bold;
  padding: 6px 15px;
  cursor: pointer;
  text-decoration:none;
}

.dropdown-user li a:hover{
  background:#155FB0;
  color: #FFFFFF;
  text-decoration: none;
  
}
a.account {
  line-height: 16px;
  right: 40px;
  position: absolute;
  text-decoration: none;
  
}
.root
{
  list-style:none;
  margin:0px;
  padding:0px;
  font-size: 11px;
  padding: 11px 0 0 0px;
  border-top:1px solid #dedede;
}

@media screen and (max-width: 768px)
{
  header
  {
    padding: 0.5em;
  }
  #buscar-control
  {

    margin: 0;
  }
  #buscar-control input, #buscar-control button
  {
    height: 30px;
  }
  #searchButton img 
  {
    top: -2px;
    position: relative;
    width: 15px;
  }
  #shopping_cart button
  {
    height:35px;
    
  }
  #shopping_cart img
  {
    width: 20px;
  }
}
