    body
    {
      background: rgba(0,0,0,0.1); 
      margin: 0;
      padding: 0;
    }
    div
    {

      margin: 0;
      border: 0;
      padding: 0;
    }
    footer
    {
      background: rgba(0,0,0,0.7);
      bottom:0;
      left: 0;
      position: fixed;
      padding: 1em;
      width: 100%;

    }
    header
    {
      background: #6AC0EF;
    }
    input[type=text],input[type=password]
      {
      border: 1px solid #DBE1EB;
      font-size: 18px;
      font-family: Arial, Verdana;
      padding: 5px;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      background: #FFFFFF;
      background: linear-gradient(left, #FFFFFF, #F7F9FA);
      background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
      background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
      background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
      color: #2E3133;
      width: 250px;
    }

    input[type=submit]
    {
      border: 1px solid #DBE1EB;
      font-size: 16px;
      font-family: Arial, Verdana;
      padding: 5px;
      border-radius: 4px;
      background-color: #0152CD;
      color:white;
      cursor: pointer;
      
    }
    
    input[type=text]:focus
    {
    color: #2E3133;
    border-color: #6AC0EF;
    }
    select 
    {
        padding:3px;
        margin: 0;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
        -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
        box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
        background: #f8f8f8;
        color:#888;
        border:none;
        outline:none;
        display: inline-block;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        cursor:pointer;
        width: 200px;

    }

    /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        select {padding-right:18px}
    }

    .selection {position:relative}
    .selection:after {
        content:'<>';
        font:11px "Consolas", monospace;
        color:#aaa;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
        right:8px; top:2px;
        padding:0 0 2px;
        border-bottom:1px solid #ddd;
        position:absolute;
        pointer-events:none;
    }
    .selection:before {
        content:'';
        right:6px; top:0px;
        width:20px; height:20px;
        background:#f8f8f8;
        position:absolute;
        pointer-events:none;
        display:block;
    }

    #opciones
    {
      background: rgba(0,0,0,0.5);
      width: 12%;
      display: inline-block;
      height: 750px;
      
    }
    #opciones ul 
    {
      border-radius: 5px;
      color:rgba(255,255,255,0.5);
      list-style: none; 
      padding: 0;

    }
    #opciones ul li
    {
      padding: 0.5em 0;
    
    }
    #opciones ul li:hover
    {
      background: #3f9db8;
      color: white;
      cursor: pointer;
      padding-left: 5px; 
    }
    #informacion_perfil
    {
      background: white;
      box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
      margin: 20px auto;
      width: 50%;
    }
    #info_usuario
    {
      background: rgba(245,245,245,1);
    	width: 87.5%;
      height: 750px;
    }
    #editar_perfil
    {
        background: white;
        box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
        margin: 10px auto 50px auto;
        width: 60%
    }
    #dv_contrasena
    {
      background: white;
      box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
      margin: 50px auto;
      width: 60%;
    }
     #opciones, #info_usuario
    {
      display: inline-block;
      margin: 0;
      vertical-align: top;
    }
    #title
    {
      border: 1px solid white;
      font-family: Georgia;
      height: 80px;
      width: 100%; 
    }
    .informacion_perfil
    {
      background: url(../img/informacion_perfil.png) no-repeat 90% center, white;
    }
    .editar_perfil
    {
      background: url(../img/editar_perfil.png) no-repeat 90% center, white;
    }
    .dv_contrasena
    {
      background: url(../img/dv_contrasena.png) no-repeat 90% center, white;
    }
    #title img
    {
      border: 1px solid rgba(0,0,0,0.1);
    }
    #title h3
    {
      margin: 5px;
    }
    .oculto
    {
    	display: none;
    }

.nice {
  font-family: arial;
  font-size: 12px;
  -webkit-box-shadow: 0px 1px 0px #fff, 0px -1px 0px rgba(0,0,0,.1);
  -moz-box-shadow: 0px 1px 0px #fff, 0px -1px 0px rgba(0,0,0,.1);
  box-shadow: 0px 1px 0px #fff, 0px -1px 0px rgba(0,0,0,.1); 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.nice .NFI-button {
  -moz-border-radius-topleft: 3px; 
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; 
  border-bottom-left-radius: 3px;

  background-color: #0192DD;

  background-image: linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
  background-image: -o-linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
  background-image: -moz-linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
  background-image: -webkit-linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
  background-image: -ms-linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #1774A3),
    color-stop(0.56, #0194DD)
  );
  text-shadow: 0px -1px 0px #0172bd;
  border: solid #0172bd 1px;
  border-bottom: solid #00428d 1px;
  
  -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.2);
  -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.2);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.2);   
  
  color: #fff;
  width: 100px;
  height: 30px;
  line-height: 30px;
}
.nice .NFI-filename {
  -moz-border-radius-topright: 3px; 
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; 
  border-bottom-right-radius: 3px;

  width: 200px;
  border: solid #777 1px;
  border-left: none;
  height: 30px;
  line-height: 30px;
  
  background: #fff;
  -webkit-box-shadow: inset 0px 2px 0px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0px 2px 0px rgba(0,0,0,.05);
  box-shadow: inset 0px 2px 0px rgba(0,0,0,.05); 

  color: #777;
  text-shadow: 0px 1px 0px #fff;
}


@media screen and (max-width: 768px)
{

  #dv_contrasena
  {
    width: 100%;
  }
  #editar_perfil
  {
    width: 100%;
  }
  #informacion_perfil
  {
    background: white;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    margin: 20px auto;
    width: 100%;
  }
  #info_usuario
  {
    width: 100%;
  }

  #opciones
  {
    background: rgba(0,0,0,0.5);
    width: 100%;
    display: inline-block;
    height: 50px;
    
  }
  #opciones ul li
  {
    display: inline-block;
    padding: 0.2em;
    border-left: 2px solid rgb(240,240,240);
  }
  #title
  {
    height: 50px; 
    width: 100%;
    font-size: 10px;
  }
}